:root {
    --line-width: 1%;
    --box-size: 30%;
    --card-size: 90%
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #d8d5d5;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 50vw;
}

.card {
    border-radius: 25px;
    width: var(--card-size);
    height: var(--card-size);
    background-color: #adadad;
    border-color: white;
    border-width: 10px;
    border-style: solid;
    display: flex;
    justify-content: center;
    align-items: center;
}

.board {
    width: 90%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.row {
    height: var(--box-size);
    width: 100%;
    margin-bottom: var(--line-width);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.box {
    height: 100%;
    width: var(--box-size);
    border-style: solid;
    border-width: 5px;
}

.top {
    border-top: 0;
}

.right {
    border-left: 0;
}

.left {
    border-right: 0;
}

.bottom {
    border-bottom: 0;
}