:root {
    --line-width: 1%;
    --box-size: 30%;
    --card-size: 500px;
    --board-color: #adadad;
    --square-color: #adadad;
    --select-delay: 0.2s;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #d8d5d5;
}

.bg {
    height: 500px;
    width: 500px;
}

#big-x {
    background-image: url(images/x.png);
}

#big-x {
    background-image: url(images/o.png);
}


.background-wrapper {
    display: flex;
    flex-direction: row;
}

.central-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 50vw;
}




.card {
    border-radius: 25px;
    width: var(--card-size);
    height: var(--card-size);
    background-color: var(--board-color);
    border-color: white;
    border-width: 10px;
    border-style: solid;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px;
}

.team-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 20%;
    width: 80%;
    border-radius: 25px;
    background-color: #b2b2b2;
    border-width: 10px;
    border-color: white;
    border-style: solid;
}

.team {
    padding: 100px;
    font-size: xx-large;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

.board {
    width: 90%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.row {
    height: var(--box-size);
    width: 100%;
    margin-bottom: var(--line-width);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.square {
    height: 100%;
    width: var(--box-size);
    border-style: solid;
    border-width: 5px;
    cursor: pointer;
    background-color: var(--square-color);
    transition: background-color var(--select-delay) ease;
    display: flex;
    justify-content: center;
    align-items: center;

}

.filled-square {
    height: 100%;
    width: var(--box-size);
    border-style: solid;
    border-width: 5px;
    cursor: pointer;
    background-color: var(--square-color);
    transition: background-color var(--select-delay) ease;
    display: flex;
    justify-content: center;
    align-items: center;

}

.clicked-square {
    background-color: #737373 !important;
}

.top {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-top: 0;
}

.right {
    border-left: 0;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

.left {
    border-right: 0;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

.bottom {
    border-bottom: 0;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}


.board-image {
    height: 100%;
    width: auto;
}